{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
 {% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
				{% endfor %}
				
<div class="container text-center d-flex flex-column mb-4">


<h1 class="main_title" style="font-size: 6em;"> Quai Antique</h1>
<h2 class="main_sub_title text-light mt-2 mb-4">Chef Arnaud Michant</h2>
<div class="gallery" style="z-index: 1;">
 {% include "card/index.html.twig" %}
 </div>
<button type="button" class="btn btn-reservation btn-lg  mb-4">
<a class="nav-link" href="/reservation/new">Réserver la table</a>
</button>
	</div>

	
{% endblock %}
