<div style="z-index: -2;" class="mb-2">
<img src="/assets/images/bg.jpg" alt="bois" style="width: 100%; min-height: 100vh; margin-top: -5em; position: fixed; z-index: -5;" class="img-fluid mb-4 sm-h-50" />
</div>
