<div class=" bg-primary mt-4 d-flex flex-sm-column flex-md-row" 
style="padding: 15px;">
	<div style="min-width: 30%;"> 
	{% include "partials/_liens.html.twig" %}
	</div>
	<div style="min-width: 30%;"> 
	{% include "partials/_schedule_line.html.twig" %}
	</div>
	<div style="min-width: 30%;"> 
	{% include "partials/_address.html.twig" %}
	</div>
</div>

