<div class=" bg-primary mt-4" style="padding-left: 15px;">
	<h3 class="mt-2 text-light fs-2 text-center">Choisir 'heure'</h3>
<div class="table d-flex justify-content-center flex-sm-wrap">
				<button class="btn btn-warning" type="button"> {{ reservation.time }}</button>	
		
	</div>
	</div>