		<h4>Nos horaires de 
		{% block javascripts %}
<script type="text/javascript">
let weekdays = new Array('Dimanche ', 'Lundi ', 'Mardi ', 'Mercredi', 'Jeudi ', 'Vendredi ', 'Samedi ');
let today = new Date();
let day = today.getDay();
let openingTimeMidday = "12:00";
let closingTimeMidday = "14:00";
let openingTimeEvening = "19:00";
let closingTimeEvening = "22:00";

	function show_schedule(){
		if(day == "3"){
			return weekdays[today.getDay()] + ': Fermé';
		}else if (day == "6"){
			return weekdays[today.getDay()] + ':  '+ openingTimeEvening +' - '+ '23:00';
		}else if(day == "7"){
			return weekdays[today.getDay()] + ': '+ openingTimeMidday+' - '+ closingTimeMidday;
		}else if(day == "1" || day == "2" || day == "4" || day == "5"){
			return weekdays[today.getDay()] + ': '+ openingTimeMidday+' - '+ closingTimeMidday + ',  '+ openingTimeEvening +' - '+ closingTimeEvening;
		}else{
			weekdays[today.getDay()] + ': '+ openingTimeMidday+' - '+ closingTimeMidday + ',  '+ openingTimeEvening +' - '+ closingTimeEvening;
		}
	}
	
{# document.writeln( weekdays[today.getDay()]); #}
document.writeln(show_schedule(weekdays[today.getDay()]));
{# 
	function show_schedule(){
		if(day == "3"){
			return weekdays[today.getDay()] + ': Fermé';
		}else if (day == "6"){
			return weekdays[today.getDay()] + ':  '+ openingTimeEvening +' - '+ '23:00';
		}else if(day == "7"){
			return weekdays[today.getDay()] + ': '+ openingTimeMidday+' - '+ closingTimeMidday;
		}else{
			weekdays[today.getDay()] + ': '+ openingTimeMidday+' - '+ closingTimeMidday + ',  '+ openingTimeEvening +' - '+ closingTimeEvening;
		}
	}
	

document.writeln(show_schedule( weekdays[today.getDay()])); #}


</script>
{% endblock %}
 </h4>