{% extends 'base.html.twig' %}
{# {% block head %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %} #}
{% block title %}Reservation
{% endblock %}

{% block body %}
	<div class="container mt-4 text-center">
		<h1 class="h5-page">Page de la reservation</h1>
		<p class="text-center text-light">Merce d'avance de précisier en commaintaire le nombre d'enfants présent à table (s'il y en a)!
			<br>
			Pour tout retard de plus de 20 min votre table sera donnée à d'autre client!!
		</p>

		<div class="modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Modal title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"></span>
						</button>
					</div>
					<div class="modal-body">
						<p>Modal body text goes here.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Save changes</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-6">
				<label for="exampleSelect1" class="form-label"></label>
				<select class="form-select" id="exampleSelect1">
					<option value="1">1<!-- -->
						<!-- -->
					couvert
					</option>
						<option value="2" selected=""> 2<!-- -->
						<!-- -->
					couverts
					</option>
						<option value="3"> 3<!-- -->
						<!-- -->
					couverts
					</option>
						<option value="4"> 4<!-- -->
						<!-- -->
					couverts
					</option>
						<option value="5"> 5<!-- -->
						<!-- -->
					couverts
					</option>
						<option value="6"> 6<!-- -->
						<!-- -->
					couverts
					</option>
						<option value="7"> 7<!-- -->
						<!-- -->
					couverts
					</option>
						<option value="8"> 8<!-- -->
						<!-- -->
					couverts
					</option>
						<option value="9"> 9<!-- -->
						<!-- -->
					couverts
					</option>
						<option value="10"> 10<!-- -->
						<!-- -->
					couverts
				</option>
			</select>
		</label>
		</div>

			<div class="form-group col-md-6"> 
			<form>
				<input class="form-control" 
				{# type="datetime-local"  #}
					type="date" 
				id="datePicker" placeholder="Choisir la date">
			</form>
		</div>

	</div>
	
</div>
{# <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> #}
<script type="text/javascript">
	{# const flatpickr = require("flatpickr"); #}
let date = new Date();
let day = date.getDay();
{# let calendar = flatpickr(yourElement, config);
calendar.changeMonth(1); // go a month ahead
calendar.changeMonth(-2); // go two months back

calendar.changeMonth(-1, false); // go to January #}

config = {
enableTime: true,
dateFormat: "d.m.Y",
altInput: true,
altFormat: "D, d, M",
minDate: "today",
maxDate: new Date().fp_incr(365), // 365 days from now
"disable": 
[function (date) { // return true to disable
return(date.getDay() === 3);
}
],
"locale": {
"firstDayOfWeek": 1 // start week on Monday
}

{# if(date.getDay() === 6) {
	 minTime: "12:00",
  maxTime: "13:00",
} else if(date.getDay() === 7){
	minTime: "19:00",
  maxTime: "22:00",
} #}
}
flatpickr("#datePicker", config)
</script>{% endblock %}
