{% extends 'base.html.twig' %}

{% block title %}New EveningSlot{% endblock %}

{% block body %}
    <h1>Create new EveningSlot</h1>

    {{ include('evening_slot/_form.html.twig') }}

    <a href="{{ path('app_evening_slot_index') }}">back to list</a>
{% endblock %}
