{% extends 'base.html.twig' %}

{% block title %}Edit DaySlot{% endblock %}

{% block body %}
    <h1>Edit DaySlot</h1>

    {{ include('day_slot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('day_slot.index') }}">back to list</a>

    {{ include('day_slot/_delete_form.html.twig') }}
{% endblock %}
