{% extends 'base.html.twig' %}

{% block title %}New DaySlot{% endblock %}

{% block body %}
    <h1>Create new DaySlot</h1>

    {{ include('day_slot/_form.html.twig') }}

    <a href="{{ path('day_slot.index') }}">back to list</a>
{% endblock %}
