<div class="container mt-4">
	<div class="d-flex justify-content-center flex-wrap">
		{% for card in cards %}
			<div class="mb-3 me-3" style="width: 20rem; min-width: 350px; min-height: 100px; ">
				<div class="card-body text-center d-flex flex-column align-items-center">
					<h4 class="card-title text-capitalize text-center text-light" 
					style="position: absolute; margin-top: 90px; padding: 30px 70px;" 
					>
					{{ card.name }}
						{# <a href="{{ path('card.show', {id: card.id}) }}">{{ card.name }}</a> #}
					</h4>
					<div class="gallery__image imageFile">
						<img src="{{ vich_uploader_asset(card, 'imageFile') }}" class="imageFile img-fluid w-100 shadow-1-strong rounded mb-4">
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
