    <div class="container">
		<div class="d-flex justify-content-center flex-wrap">
					{% for card in cards %}
						<div class="mb-3 me-3" style="width: 20rem;">
					<div class="card-body">
						<h4 class="card-title hidden">
							<a href="{{ path('card.show', {id: card.id}) }}">{{ card.name }}</a>
						</h4>
						<div class="recipe__image card-image">
							<img 
							style="min-width: 350px; min-height: 300px;" 
							src="{{ vich_uploader_asset(card, 'imageFile') }}" 
							class="img-fluid w-100 shadow-1-strong rounded mb-4">
						</div>
					</div>
				</div>
				{% endfor %}
		</div>
	</div>
