{% extends 'base.html.twig' %}

{% block title %}reservation
{% endblock %}

{% block body %}
	<div class="container">
	<h1>restaurant</h1>

	<table class="table">
		<tbody>
        {# {% if is_granted('ROLE_ADMIN') %} #}
			<tr>
				<th>Id</th>
				<td>{{ restaurant.id }}</td>
			</tr>
            {# {% endif %} #}
						<tr>
				<th>Titre</th>
				<td>{{ restaurant.title }}</td>
			</tr>
			<tr>
				<th>Nombre de places</th>
				<td>{{ restaurant.nbTotalPlaces }}</td>
			</tr>
			<tr>
				<th>Places disponibles</th>
				<td>{{ restaurant.nbAvailablePlaces }}</td>
			</tr>
			</tbody>
			</table>

    </div>
{% endblock %}
