{% extends 'base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}
<div class="container mt-4 d-flex flex-comumn text-center">
    <h1>Modifier le Menu</h1>

    {{ include('menu/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('menu.index') }}">Liste de menus</a>

    {{ include('menu/_delete_form.html.twig') }}
    </div>
{% endblock %}
