{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
 <div class="container mt-4 text-center">

    <h1>Create new Menu</h1>
   
    {{ include('menu/_form.html.twig') }}

    <a href="{{ path('menu.index') }}">Vers la page Menu</a>
    </div>
{% endblock %}
