{% extends 'base.html.twig' %}

{% block title %}Edit EveningSlots{% endblock %}

{% block body %}
    <h1>Edit EveningSlots</h1>

    {{ include('evening_slots/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evening_slots_index') }}">back to list</a>

    {{ include('evening_slots/_delete_form.html.twig') }}
{% endblock %}
